<a href="https://colab.research.google.com/github/alfi2811/tugas-knn/blob/master/Tupro3_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Tugas Pemograman 3 - KKN**

#### **Import Library**

In [157]:
import pandas as pd

#### **Praprocessing Data**

##### Import data from excel

In [158]:
CAR_SIZE = 17
df = pd.read_excel('https://github.com/alfi2811/tugas-knn/blob/master/mobil.xls?raw=true')
df

              Nama Mobil  Ukuran  ...  Kecepatan  Harga (Ratus Juta)
0            Toyota Agya       4  ...          6                1.00
1          Daihatsu Alya       4  ...          6                1.10
2          Toyota Avanza       6  ...          6                2.00
3         Daihatsu Xenia       6  ...          6                1.75
4                Xpander       7  ...          7                2.25
5                 Livina       7  ...          7                2.10
6                Karimun       3  ...          5                1.20
7          Toyota Innova       8  ...          7                4.00
8                Alphard       9  ...          8               10.00
9            Toyota Vios       5  ...          8                2.50
10            Honda City       5  ...          8                2.70
11          Toyota Hiace      10  ...          6                5.00
12       Toyota Fortuner       9  ...          8                5.00
13           Toyota Foxy       9  ...          7                5.50
14  Toyota Corolla Altis       5  ...          9                6.00
15         Suzuki Ertiga       7  ...          7                2.30
16          Suzuki Carry       7  ...          5                0.80

[17 rows x 6 columns]

##### Check if there is missing data

In [159]:
df.isna().sum()

Nama Mobil            0
Ukuran                0
Kenyamanan            0
Irit                  0
Kecepatan             0
Harga (Ratus Juta)    0
dtype: int64

##### Make list of new data without car name

In [160]:
dataLatih = []
for i in range(len(df)):
    newData = [df['Ukuran'][i], df['Kenyamanan'][i], df['Irit'][i], df['Kecepatan'][i], df['Harga (Ratus Juta)'][i]]        
    dataLatih.append(newData)

#### **Get Best Three for Each Distance**

In [161]:
def best_three(listData):
    return sorted(listData, key=lambda x: x[1], reverse=False)[:3]

#### **Euclidean Distance**

In [162]:
def calc_euclidean_dist(dtLatih, dtUji):
    listEuc = []
    for i in range(len(dtLatih)):
        dist = 0
        for j in range(len(dtLatih[i])):
            dist += (dtLatih[i][j] - dtUji[j])**2
        listEuc.append([df['Nama Mobil'][i], round(dist ** (1/2), 3)])       
    return best_three(listEuc)

#### **Manhattan Distance**

In [163]:
def calc_manhattan_dist(dtLatih, dtUji):
    listManh = []
    for i in range(len(dtLatih)):
        sum = 0
        for j in range(len(dtLatih[i])):
            sum += abs(dtLatih[i][j] - dtUji[j])        
        listManh.append([df['Nama Mobil'][i], round(sum, 3)])       
    return best_three(listManh)

#### **Minkowski Distance**

In [164]:
def calc_minkowski_dist(dtLatih, dtUji, p=1):
    listMin = []
    for i in range(len(dtLatih)):
        sum = 0
        for j in range(len(dtLatih[i])):
            sum += abs(dtLatih[i][j] - dtUji[j]) ** p
        listMin.append([df['Nama Mobil'][i], round(sum ** (1/p), 3)])       
    return best_three(listMin)

#### **Supremum Distance**

In [165]:
def calc_supremum_dist(dtLatih, dtUji):
    listSupr = []
    for i in range(len(dtLatih)):
        listDist = []
        for j in range(len(dtLatih[i])):
            listDist.append(abs(dtLatih[i][j] - dtUji[j]))
        listSupr.append([df['Nama Mobil'][i], round(max(listDist), 3)])       
    return best_three(listSupr)

#### **Calculate Distance**

In [166]:
def calc_distance(dtLatih, dtUji):
    euclidean = calc_euclidean_dist(dtLatih, dtUji)
    manhattan = calc_manhattan_dist(dtLatih, dtUji)
    minkowski = calc_minkowski_dist(dtLatih, dtUji)
    supremum = calc_supremum_dist(dtLatih, dtUji)
    distance = [["Euclidean", euclidean], ["Manhattan", manhattan], ["Minkowski", minkowski], ["Supremum", supremum]]
    return distance

#### **Input Data from User**

In [167]:
def input_dtuji():
    ukuran = int(input("Masukkan Ukuran: "))
    kenyamanan = int(input("Masukkan Kenyamanan: "))
    irit = int(input("Masukkan Irit: "))
    kecepatan = float(input("Masukkan Kecepatan: "))
    harga = float(input("Masukkan Harga: "))

    return [ukuran, kenyamanan, irit, kecepatan, harga]

#### **Main Program**

In [168]:
# MAIN PROGRAM

dataUji = input_dtuji()
distance = calc_distance(dataLatih, dataUji)

print(distance)
print("========Hasil Akhir========")
for dt in distance:
    print("Rekomendasi Berdsarkan ", dt[0])
    i = 1
    listDist = []
    for car in dt[1]:
        print("{}. ".format(i), car[0], "dengan hasil distance: ", car[1])
        listDist.append(car[1])
        i+=1
    
    # dtNew = pd.DataFrame(listDist, columns=['Distance'])
    # dtNew.index += 1
    # dtNew.to_excel(f'./{dt[0]}.xlsx')
rekomendasi = []
for dt in distance[0][1]:
    rekomendasi.append(dt[1])
dtNew = pd.DataFrame(rekomendasi, columns=['Distance'])
dtNew.index += 1    
dtNew.to_excel(f'./rekomendasi.xlsx')

Masukkan Ukuran: 1
Masukkan Kenyamanan: 2
Masukkan Irit: 3
Masukkan Kecepatan: 4
Masukkan Harga: 5
[['Euclidean', [['Daihatsu Xenia', 7.25], ['Toyota Avanza', 7.483], ['Daihatsu Alya', 8.075]]], ['Manhattan', [['Daihatsu Xenia', 15.25], ['Karimun', 15.8], ['Daihatsu Alya', 15.9]]], ['Minkowski', [['Daihatsu Xenia', 15.25], ['Karimun', 15.8], ['Daihatsu Alya', 15.9]]], ['Supremum', [['Toyota Avanza', 5], ['Daihatsu Xenia', 5], ['Toyota Agya', 6]]]]
========Hasil Akhir========
Rekomendasi Berdsarkan  Euclidean
1.  Daihatsu Xenia dengan hasil distance:  7.25
2.  Toyota Avanza dengan hasil distance:  7.483
3.  Daihatsu Alya dengan hasil distance:  8.075
Rekomendasi Berdsarkan  Manhattan
1.  Daihatsu Xenia dengan hasil distance:  15.25
2.  Karimun dengan hasil distance:  15.8
3.  Daihatsu Alya dengan hasil distance:  15.9
Rekomendasi Berdsarkan  Minkowski
1.  Daihatsu Xenia dengan hasil distance:  15.25
2.  Karimun dengan hasil distance:  15.8
3.  Daihatsu Alya dengan hasil distance:  15.9
Rekomendasi Berdsarkan  Supremum
1.  Toyota Avanza dengan hasil distance:  5
2.  Daihatsu Xenia dengan hasil distance:  5
3.  Toyota Agya dengan hasil distance:  6